* {
    font-family: Arial, Helvetica, sans-serif;
    font-size:large;
}
h1 {
    text-align: center;
    margin-bottom: 4%;
}
button {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1%;
  
}
div {
    margin-bottom: 8%;
    font-weight: bold;
}
table {
    margin-top: 1%;
    font-family: arial, sans-serif;
    border-collapse:separate;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 1/6%;
    width: 33%;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

